Source: salt-formula-knot
Maintainer: petr.jediny@gmail.com
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-knot
Vcs-Git: https://github.com/tcpcloud/salt-formula-knot.git

Package: salt-formula-knot
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: knot salt formula
 Install and configure knot system.
